extends ./template/layout

block content

  ol.main-content
    // jade can't render dynamic includes =(

    li.item
      h2#sobre.heading= 'sobre'

      ol.sub-content
        include ./section/sobre

    li.item
      h2#seletores.heading= 'seletores'

      ol.sub-content
        include ./section/seletores

    li.item
      h2#eventos.heading= 'eventos'

      ol.sub-content
        include ./section/eventos

    li.item
      h2#manipulacao.heading= 'manipulação'

      ol.sub-content
        include ./section/manipulacao

    li.item
      h2#ajax.heading= 'ajax'

      ol.sub-content
        include ./section/ajax

    //- li.item
    //-   h2#callbacks.heading= 'callbacks'

    //-   ol.sub-content
    //-     include ./section/callbacks

    li.item
      h2#fun.heading= 'fun'

      ol.sub-content
        include ./section/fun
